body {
	background-color: #f7f4ea; /*this changed the whole color of background*/
}

.title {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	border: solid black 2px;
	background-color: #DED9E2;
	padding: 10px;
	font-size: 20px;
}

h2 {
	text-align: center;
	margin-bottom: -100;
	margin-top: 100px;
}

.italics {
	text-align: center;
}
p {
	text-align: justify;
	text-indent: 20px;
}

.container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-top: 0;
      padding-top: 20px;
    }
    .box {
      width: 500px;
      height: 500px;
      margin:  10px;
      background-color: #DED9E2;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: solid 2px;
    }
    .box:hover {
      background-color: #ddd;
    }
    .box a {
      text-decoration: none;
    }
    .box p {
      text-align: center;
    }

.boxhead {
	color: #444444;
	font-size: 20px;
}

.boxtext {
	color: #444444;
	padding: 0 15px;
}