body {
	background-color: #f7f4ea; /*this changed the whole color of background*/
}

h1 {
	color: #75C9C8;
	text-align: center;
	background-color: DED9E2; /*changes background color of this elemtn*/
	padding: 50px; /*manipulates space between the text and all walls of border*/
}

h3 {
	color: #75C9C8;
	text-align: center;
	background-color: DED9E2; /*changes background color of this elemtn*/
	padding: 5px; /*manipulates space between the text and all walls of border*/
}



