h2 {
	color: #75C9C8; /*changes color of text*/
	/* floral white: f7f4ea
		lavender: DED9E2
		perwinkle: C0B9DD
		vista blue: 80A1D4
		tiffany blue: 75C9C8 */
	font-family:timesnewroman; /*changes font style*/
	text-align: center;
	background-color: DED9E2; /*changes background color of this elemtn*/
	padding: 50px; /*manipulates space between the text and all walls of border*/
}

h3 {
	font-family: timesnewroman;
	text-align: center;
}

#highlight {
	color: #75C9C8;
}

.top {
	background-color: DED9E2;
	float: center;
}

.link {
	color: 80A1D4;
}

p {
	text-align: center;
}

body {
	background-color: #f7f4ea; /*this changed the whole color of background*/
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%; /*manipulates the size of the photo*/
	height: 75%; /*manipulates the size of the photo*/	
	border: 5px solid #DED9E2; /*adds a fun border*/
}